.section-title_theme_dark {
  margin-top: 0;
  color: white;
  text-align: center;
  padding-top: 90px;
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
  max-width: 60%;
}
